*{
	margin: 0;
	padding: 0;
}

a{
	color: #fff;
	text-decoration: none;

}
a:hover{
	opacity:0.7;
}

a.logo{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	background:#23232e;
	height: 8vh;
}

main{
	background-image: url(imagens/kyan\ imagem\ de\ fundo.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 92vh;
}
.nav-list{
	list-style: none;
	display: flex;
}

.nav-list li{
	letter-spacing: 3px;
	margin-left: 32px;
}